mixin messagesDisplay(messagesData, userInfo)
  .grid-33
    .app--section
      ul.app--message--list
        li
          h3
            | Conversation with 
            a Jill Spore
          ul.app--message--conversation
            each message in messagesData
              if message.sender_id !== userInfo.id_str
                li.app--message
                  .app--avatar(style=`background-image: url(${message.userPhoto})`)
                    img(src=`${message.userPhoto}`)
                  p.app--message--text= message.text
                  p.app--message--timestamp= message.timeSent
              else
                li.app--message--me
                  .app--avatar(style=`background-image: url(${userProfileData.profile_image_url_https})`)
                    img(src=`${userProfileData.profile_image_url_https}`)
                  p.app--message--text
                    | #{message.text}
                  p.app--message--timestamp= message.timeSent
